:root {
  --primary-color: #01352c;
  --text-color: #bad8b6;
  --primary-font-family: "Cinzel", serif;
  --secondary-font-family: "Lobster", cursive;
  --text-font-family: "Kalam", cursive;
}

body {
  background: var(--text-color);
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 85px;
  color: var(--primary-color);
  line-height: 1.5;
}

h2 {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  opacity: 0.8;
}

h3 {
  font-family: var(--text-font-family);
  opacity: 0.7;
  font-size: 35px;
}

h4 {
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
  font-size: 56px;
}

.profile-intro {
  background: var(--text-color);
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.profile-pic {
  max-width: 300px;
  margin-top: 50px;

  border: 8px solid var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.7);
}

.profile-desc {
  margin-top: 40px;
}

.btn-light {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  margin-top: 25px;
  font-size: 26px;
  border: none;
  padding: 10px 50px;
  color: var(--primary-color);
  border-radius: 10px;
}

.btn-light:hover {
  background: var(--primary-color);
  color: var(--text-color);
}

.project-heading-section {
  color: white;
  font-size: 70px;
  padding: 10px;
  margin: 0;
  padding-bottom: 30px;
  font-family: var(--secondary-font-family);
}

.projects {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  border-radius: 40px;
  box-shadow: 10px 10px 20px var(--primary-color);
  margin-bottom: 30px;
}

.project-info {
  margin: 50px 20px;
}

.project-images {
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 20px var(--primary-color);
  max-height: 700px;
}

p {
  font-weight: 600;
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 20px;
}

.project-info .btn-light {
  width: 400px;
}

.otherpage-content {
  background: var(--primary-color);
  max-width: 90%;
}

.otherpage-content h2 {
  color: var(--text-color);
}

.otherpage-content h1 {
  font-size: 60px;
  color: var(--text-color);
}
.otherpage-content h3 {
  font-size: 30px;
  color: var(--text-color);
}

.otherpage-content p {
  margin-top: 25px;
  font-weight: light;
  line-height: 1.7;
  color: var(--text-color);
}

.work-image {
  width: 400px;
}

.navbar-brand {
  font-family: "Allura", cursive;
  font-size: 35px;
}

.navbar-brand:hover {
  font-family: "Allura", cursive;
  font-size: 35px;
}

.resume-section {
  margin: 0 auto;
  padding: 20px 100px;
  border-radius: 10px;
  width: 500px;
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
  background: var(--primary-color);
  color: var(--text-color);
}

footer {
  margin: 100px;
}
footer p {
  color: var(--text-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--text-color);
  background: var(--primary-color);

  padding: 20px 24px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: var(--text-color);
}

footer .end-line h3 {
  color: var(--primary-color);
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

@media (max-width: 768px) {
  .work-image {
    max-width: 100%;
  }
}

.work-image:hover {
  opacity: 0.5;
  border: 10px solid var(--primary-color);
  box-shadow: 20px 20px 20px var(--primary-color);
}

a {
  color: var(--primary-color);
  opacity: 0.8;
}

a:hover {
  font-size: 24px;
  opacity: 1;
}

.nav-link:hover,
.nav-link:active,
.navbar-brand {
  color: var(--primary-color) !important;
}

.navbar {
  background: linear-gradient(
    108.7deg,
    rgb(224, 235, 213) 8.1%,
    rgb(37, 148, 141) 91.2%
  );
}

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
  }

  .project-images {
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 20px var(--primary-color);
    max-height: 300px;
    max-width: 300px;
  }
  .project-info .btn-light {
    width: 250px;
    font-size: 13px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }

  h1,
  h4 {
    font-size: 50px;
  }
  h3 {
    font-size: 26px;
  }
  .profile-intro {
    text-align: center;
    margin: 10px;
    padding-top: 50px;
  }

  .profile-pic {
    max-width: 200px;
  }
  .projects {
    max-width: 100%;
    margin: 0;
  }

  /* .projects {
    width: 490px;
    padding: 10px;
    margin: 50px;
  } */

  .project-info .btn-light {
    width: 250px;
    font-size: 15px;
  }

  .project-info p {
    font-size: 20px;
  }
}

@media (min-width: 991px) and (max-width: 1160px) {
  .project-image {
    margin-left: 150px;
  }

  .otherpage-content {
    max-width: 100%;
  }

  .otherpage-content .profile-photo {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .otherpage-content h1 {
    font-size: 40px;
  }
  .projects {
    max-width: 100%;
    margin: 0;
  }

  .project-info {
    line-height: 1 !important;
    margin: 5px;
  }
  .project-info p {
    font-size: 18px;
  }

  .project-info h4 {
    font-size: 35px;
  }

  .work-intro {
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    line-height: 10px;
  }

  .project-heading-section {
    font-size: 50px;
  }

  footer {
    margin: 50px;
  }
  footer .end-line h3 {
    font-size: 20px;
  }
}

@media (min-width: 1160px) and (max-width: 1400px) {
  .otherpage-content .profile-photo {
    width: 440px;
  }
}
